@import "core";

.pool-title {
  margin-bottom: 0;
}

.pool-info-container {
  display: grid;
  grid-template-columns: 1fr;
}

.pool-info {
  text-align: center;
  position: relative;
  margin-top: 5rem;

  &-logo-container {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 80%;
    z-index: 0;
  }

  &-logo {
    opacity: 0.15;
    width: 100%;
  }

  &-text {
    position: relative;
    z-index: 1;
  }

  &-icon {
    margin-right: 0.5rem;
    position: relative;
    top: 3px;
    color: $yellow-4;
  }

  h2,
  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2 {
    color: $yellow-4;
  }

  h3 {
    padding-bottom: 1rem;
    position: relative;
  }

  &-separator {
    width: 9rem;
    margin: 0.1rem 0 1rem;
  }

  &-schedule {
    text-align: center;

    p {
      font-family: $ff-primary;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.account {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
}

.green {
  color: lightgreen;
  margin-bottom: 0.5rem;
}

.red {
  color: tomato;
  margin-bottom: 0.5rem;
}

.gallery-pool {
  margin-top: 5rem;

  img {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .pool-info-separator {
    width: 12rem;
    margin: 0.8rem 0 1.5rem;
  }

  .pool-info-schedule {
    p {
      font-size: 1.3rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .pool-info-container {
    grid-template-columns: repeat(3, 1fr);

    .pool-info-icon {
      top: 5px;
    }
  }
}
