@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Nunito:wght@400;700&family=Quicksand:wght@400;700&family=Rubik:wght@400;700&display=swap");
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'DM Sans', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Rubik', sans-serif;

$white: #ffffff;
$grey-1: #f3f5f8;
$grey-2: #a5aab1;
// $blue-1: #3775e9;
$blue-1: #3e92cc;
// $blue-2: #0046a7;
$blue-2: #2a628f;
// $blue-3: #07254f;
$blue-3: #16324f;
// $blue-4: #041329;
$blue-4: #13293d;
$blue-5: #18435a;
$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$ff-3: "Noto Sans", sans-serif;
$ff-4: "Raleway", sans-serif;
$ff-5: "Ubuntu", sans-serif;
$spacing: 0.1rem;
$transition: all 0.3s ease;
$radius: 0.25rem;
