@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu', sans-serif;

$clr-white: #fff;
$clr-grey: #f3f5f8;
$clr-grey-2: #a5aab1;
// $clr-blue-1: #0078ff;
$clr-blue-1: #3775e9;
$clr-blue-2: #0046a7;
$clr-blue-3: #07254f;
$clr-blue-4: #041329;
$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$ff-3: "Noto Sans", sans-serif;
$ff-4: "Raleway", sans-serif;
$ff-5: "Ubuntu", sans-serif;
$spacing: 0.1rem;
$transition: all 0.3s ease;
$radius: 0.25rem;
