@import "core";

.hero {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  width: 100%;
  background: $white;
  color: $white;
  position: relative;
  overflow: hidden;
}

.hero-slider {
  height: 100%;
  width: 100%;
  margin-top: -5rem;
}

.hero-image {
  object-fit: cover;
  min-height: 100vh;
}

.hero-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  h1,
  h3 {
    text-transform: uppercase;
  }
  h1 {
    letter-spacing: normal;
  }
}

.hero-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;

  &-top {
    height: 90px;
    z-index: 5;

    path {
      fill: $white;
    }
  }

  &-bottom {
    height: 80px;
    z-index: 10;

    path {
      fill: $blue-1;
    }
  }
}

.hero-ripple-container {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 15%;
  z-index: -1;
}

.hero-ripple {
  // width: 150px;
  // height: 150px;
  // position: absolute;
  // left: 12%;
  // z-index: -1;

  .circle {
    background-color: $blue-1;
    border: 1px solid rgba(255, 255, 255, 0.5);

    // &-1 {
    //   background-color: $blue-5;
    // }
    // &-2 {
    //   background-color: $blue-4;
    // }
    // &-3 {
    //   background-color: $blue-3;
    // }
    // &-4 {
    //   background-color: $blue-2;
    // }
    // &-5 {
    //   background-color: $blue-1;
    // }
  }
}

.dot-separator {
  font-size: 1rem;
  position: relative;
  top: 2px;
}

@media screen and (min-width: 768px) {
  .hero-center h1 {
    letter-spacing: $spacing;
  }

  .dot-separator {
    font-size: 1.3rem;
    margin: 0 3px;
  }

  .hero-ripple {
    width: 175px;
    height: 175px;
    left: 25%;
  }

  .hero {
    .social-links {
      display: none;
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      width: 4rem;
      height: 11rem;
      margin: 0;
      margin-right: 0.3rem;
      z-index: 200;
      // border: 2px solid $white;

      li:first-of-type .social-link {
        background-color: #3b5999;
        border-bottom: none;
        // color: #3b5999;
      }
      li:nth-of-type(2) .social-link {
        background-color: #e4405f;
        border-bottom: none;
        // color: #e4405f;
      }
      li:nth-of-type(3) .social-link {
        background-color: #cd201f;
        // color: #cd201f;
      }
    }

    .social-link {
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      border-radius: 50%;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $white;
      }
    }
  }
}

// TEST

.waves {
  position: relative;
  width: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
  height: 40px;
  min-height: 40px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media screen and (min-width: 768px) {
  .hero-ripple-container {
    width: 175px;
    height: 175px;
    left: 25%;
  }

  // TEST
  .waves {
    height: 15vh;
    min-height: 100px;
    max-height: 120px;
  }
}

@media screen and (min-width: 992px) {
  .dot-separator {
    font-size: 1.4rem;
    top: 1px;
    margin: 0 5px;
  }

  .hero-ripple-container {
    width: 200px;
    height: 200px;
    left: 35%;
  }
}

@media screen and (min-width: 1366px) {
  .hero {
    .social-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
