@import "core";

.hero {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  width: 100%;
  background: $white;
  color: $white;
  position: relative;
  overflow: hidden;

  &-slider {
    height: 100%;
    width: 100%;
    margin-top: -5rem;
  }

  &-image {
    min-height: 100vh;
    // object-fit: cover;
    // object-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 206, 255, 0) 50%, #00caff 100%);
    z-index: 0;
  }

  &-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &-text {
    align-self: start;
    margin-left: 5vw;
    width: 60%;

    &-heading {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 0;
    }

    .wave-separator {
      width: 11rem;
      margin: 0.5rem 0;
    }

    &-para {
      color: $white;
    }
  }

  &-btn {
    position: absolute;
    bottom: 25px;
    cursor: pointer;
    z-index: 10;
    transition: $transition;

    &-drop {
      width: 45px;
    }

    &-icon {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.8rem;
      color: $blue-4;
      transition: $transition;
    }

    &:hover {
      bottom: 10px;

      .hero-btn-icon {
        bottom: 12%;
      }
    }
  }

  &-wave {
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: 1;
    width: 100vw;
    min-height: 150px;

    &-top {
      bottom: -29px;
    }
  }
}

@media screen and (min-width: 412px) {
  &-wave {
    bottom: -20px;

    &-top {
      bottom: -24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    &-btn-drop {
      width: 50px;
    }

    &-wave {
      bottom: -10px;

      &-top {
        bottom: -14px;
      }
    }

    .social-links {
      display: none;
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 4rem;
      height: 11rem;
      margin: 0;
      margin-right: 0.3rem;
      z-index: 200;

      li:first-of-type .social-link {
        background-color: #3b5999;

        &:hover {
          background-color: $yellow-4;
        }
      }
      li:nth-of-type(2) .social-link {
        background-color: #e4405f;

        &:hover {
          background-color: $yellow-4;
        }
      }
      li:nth-of-type(3) .social-link {
        background-color: #cd201f;

        &:hover {
          background-color: $yellow-4;
        }
      }
    }

    .social-link {
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      border-radius: 50%;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $white; // general style overwrite
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .hero-btn-drop {
    width: 55px;
  }

  .hero-text {
    margin-left: 10vw;
    width: 35%;

    &-heading {
      font-size: 4rem;
      white-space: nowrap;
      letter-spacing: 3px;
      margin-bottom: 0.75rem;
    }
  }
}

@media screen and (min-width: 1366px) {
  .hero {
    .social-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media screen and (orientation: landscape) and (max-device-width: 768px) {
  .hero {
    height: 140vh;
  }
}
