@import "core";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-primary;
  background: $blue-1;
  color: $white;
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-family: $ff-secondary;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  padding: 5rem 0;
  position: relative;
}

.section-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
  }

  h1 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

.section-title {
  margin-bottom: 1rem;
  text-align: center;
  color: $white;
  letter-spacing: 3px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* social links */
.social-links {
  margin-top: 0.5rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.social-link {
  font-size: 1.75rem;
  color: $white;
  transition: $transition;
}

.social-link:hover {
  color: $blue-1;
}

// Ripple

.ripple {
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);

  &-1 {
    width: 20%;
    height: 20%;
    z-index: 5;
  }

  &-2 {
    width: 40%;
    height: 40%;
    opacity: 0.8;
    z-index: 4;
  }

  &-3 {
    width: 60%;
    height: 60%;
    opacity: 0.6;
    z-index: 3;
  }

  &-4 {
    width: 80%;
    height: 80%;
    opacity: 0.4;
    z-index: 2;
  }

  &-5 {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
  }
}

// NOWY BTN SZEROKI

.section-btn {
  display: block;
  width: 160px;
  height: 45px;
  border-radius: $radius;
  color: $blue-4;
  background-color: $yellow-4;
  font-family: $ff-secondary;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  &-icon {
    font-size: 1.6rem;
    transition: $transition;
    position: relative;
    left: 0;
  }

  &:hover {
    .section-btn-icon {
      left: 5px;
    }
  }
}

// Spinning Btn
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-btn {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;

  &-inner {
    width: 60px;
    height: 60px;
    background-color: $yellow-4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-icon {
    font-size: 40px;
    color: $blue-4;
  }

  &-svg {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    top: -10px;
    left: -10px;
    animation: rotating 10s linear infinite;

    text {
      fill: $yellow-4;
      font-size: 36px;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 992px) {
  .spinning-btn {
    width: 100px;
    height: 100px;

    &-inner {
      width: 75px;
      height: 75px;
    }

    &-icon {
      font-size: 50px;
    }

    &-svg {
      width: 120px;
      height: 120px;
      animation: none;

      &:hover {
        animation: rotating 10s linear infinite;
      }
    }
  }
}
