@import "core";

.camps-title {
  margin-bottom: 5rem;
}

// CAMPS NAV
.camps-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 5rem;

  &-btn {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: transparent;
    background: transparent;
    border-radius: $radius;
    outline: none;
    font-family: $ff-primary;
    color: $white;
    display: block;
    text-align: left;

    &:hover {
      .camps-nav-image {
        transform: scale(1.2);
      }
    }
  }

  &-image-container {
    &::after {
      @include image-gradient;
      border-radius: $radius;
    }
  }

  &-image {
    transition: $transition;
    border-radius: $radius;
  }

  &-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  &-name {
    margin: 0;
    letter-spacing: 2px;
    font-size: 1rem;
  }

  &-separator {
    width: 6rem;
    // margin: 0.5rem 0;
  }
}

// CAMPS SECTION
.camp-container {
  text-align: center;
}

.camp {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  &-name {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $yellow-4;
  }

  &-separator {
    width: 8rem;
    margin-bottom: 0.5rem;
  }

  &-image {
    height: 19rem;
    border-radius: $radius;
  }

  &-description {
    padding: 1rem;
  }

  h3 {
    margin: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &-info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .camps-nav-name {
    font-size: 1.5rem;
  }

  .camp-separator {
    width: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .camps-nav {
    grid-template-columns: repeat(4, 1fr);

    &-name {
      font-size: 1.1rem;
    }

    &-separator {
      width: 8rem;
    }
  }

  .camp {
    grid-template-columns: 1fr 1fr;

    // &:nth-of-type(even) {
    //   // grid-template-columns: 3fr 2fr;
    //   grid-auto-flow: dense;
    //   align-self: flex-end;

    //   .camp-image {
    //     grid-column: 2;
    //   }
    // }
  }

  .camp-container:nth-of-type(even) {
    .camp {
      grid-auto-flow: dense;
      align-self: flex-end;
    }

    .camp-image {
      grid-column: 2;
    }
  }
}

@media screen and (min-width: 1200px) {
  .camps-nav-name {
    font-size: 1.4rem;
  }
}
