@import "core";

.sidebar {
  background: $grey-1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: $transition;
  transform: translateX(-100%);

  &-links li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $blue-4;
    letter-spacing: $spacing;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      color: $yellow-4;
    }
  }

  &-close-btn {
    position: absolute;
    right: 2.5%;
    top: 1.5%;
    font-size: 2.8rem;
    background: transparent;
    border-color: transparent;
    color: $blue-4;
    cursor: pointer;
    outline: none;
    transition: $transition;

    &:hover {
      color: $yellow-4;
    }
  }

  &-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    z-index: -1;

    path {
      fill: $blue-1;
    }
  }
}

.show-sidebar {
  transform: translateX(0);
}

.social-links.sidebar-icons {
  width: 10rem;
  justify-content: space-between;

  li a {
    font-size: 2.2rem;
    color: $blue-4;
    transition: $transition;

    &:hover {
      color: $yellow-4;
    }
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

@media screen and (orientation: landscape) and (max-device-width: 768px) {
  .sidebar-links li a {
    margin-bottom: 0;
  }
}
