@import "core";

.stats {
  height: 60vh;
}

.stats-info {
  width: 35vw;
  padding: 0 2rem;
  height: 60vh;
  //   background: $grey-1;
  background: linear-gradient(180deg, $grey-1 20%, $white 100%);
  position: relative;
  left: calc(10vw + 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-info > * {
  padding-left: 10px;
}

.stats-heading {
  text-transform: uppercase;
  //   padding-left: 10px;
  box-shadow: -4px 0 $blue-1;
  color: $blue-2;
}

.stats-heading span {
  display: block;
  margin-top: 0.5rem;
}

.stats-text {
  margin: 2rem 0;
}

.stats-numbers {
  display: flex;
  justify-content: space-between;
}

.stats-number {
  display: flex;
  flex-direction: column;

  span {
    font-size: 2rem;
    font-weight: bold;
    align-self: center;

    &.blue {
      color: $blue-1;
    }
    &.yellow {
      color: yellow;
    }
  }

  p {
    font-size: 12px;
    align-self: center;
  }
}
