@import "core";

.about .section-title {
  color: $blue-3;
}

.section-title span {
  display: block;
}

.about-info {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}
.image-container {
  position: relative;
}

.description-bottom {
  // font-size: 18px;
  // font-family: $ff-secondary;
  text-transform: uppercase;
}

.about-image {
  opacity: 0.1;
  z-index: 1;
  transition: opacity 0.8s ease-in;
  // border-radius: $radius;
  // box-shadow: 0px 0px 31px 10px rgba(153, 153, 153, 1);
}

.active-image {
  opacity: 1;
  z-index: 2;
  // box-shadow: 0px 0px 31px 10px rgba(153, 153, 153, 1);
}

.about-center {
  width: 80vw;
  height: 75vh;
  margin: 0 auto;
  max-width: 1170px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}
.about-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 0 0.5rem;
  transition: $transition;
  cursor: pointer;
  padding: 0.5rem 0;
  line-height: 1;
  text-transform: capitalize;
  font-weight: bold;
  font-family: $ff-primary;
  outline: none;
  color: $grey-2;
  position: relative;
}
.about-btn:hover {
  color: $blue-1;
}
.btn-container button:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 30px;
  right: 0;
  height: 0.5em;
  width: 280px;
  border-top: 0.1rem solid $grey-2;
  z-index: -1;
}
.active-btn {
  color: $blue-1;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $grey-2;
  transition: $transition;
  margin: 10px auto 0;
}

.active-btn .dot {
  background-color: $white;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
}

.minidot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #757575;
  transition: $transition;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.active-btn .minidot {
  background-color: $blue-2;
}

@media screen and (min-width: 992px) {
  .about-info {
    grid-template-columns: repeat(12, 1fr);
  }
  .about-center {
    width: 75vw;
  }

  .about-btn {
    margin-bottom: 1rem;
  }

  .image-container div:first-of-type {
    top: 30px !important;
    left: 20px !important;
  }
  .image-container div:nth-of-type(2) {
    top: 50px !important;
    left: -80px !important;
  }
  .image-container div:nth-of-type(3) {
    left: -30px !important;
  }
  .text-container {
    grid-column: 1 / span 6;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    grid-column: 8 / span 5;
  }
}
